swiper-container::part(container) {
  overflow: visible;
}
swiper-container::part(bullet) {
  opacity: 0;
}

swiper-container::part(bullet-active) {
  opacity: 0;
}

.experience-item {
  display: flex;
  flex-direction: column;
}


swiper-container {
  perspective: 1200px;
  transform-style: preserve-3d;
}