<div class="mx-auto px-4 py-32 bg-gray-900 min-h-screen overflow-x-hidden">
  @if (isLoading) {
    <div class="skeleton-container grid gap-10 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      @for (i of [1, 2, 3]; track i) {
        <app-skeleton></app-skeleton>
      }
    </div>
  } @else {
    <div class="projects-grid px-2">
      @if (projects$ | async; as projects) {
        <div class="grid gap-10 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          @for (project of projects; track project.id) {
            <div class="perspective-wrapper">
              <app-card
                appGlassParallax
                [data]="projectsService.mapProjectToCard(project)"></app-card>
            </div>
          } @empty {
            <div class="md:col-span-3 text-center py-10 text-gray-500">No hay proyectos.</div>
          }
        </div>
      } @else {
        <div class="text-center py-10 text-red-500">Cargando datos del servidor...</div>
      }
    </div>
  }
</div>
